# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
ENV/

# VSCode
.vscode/

# SQLite DB
instance/phishing.db
*.sqlite3
*.db

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Ignore secrets/config
instance/email_config.json

# Others
*.bak
*.swp
